@page "/login"
@using ASM_CS6_AHTBCinemaPro_SD18301.Models
@using ASM_CS6_AHTBCinemaPro_SD18301.Shared.Models
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<head>
    <link href="/css/login.css" rel="stylesheet" />
</head>
@if (responseMessage != null)
{
    <div class="@((responseMessage.Success) ? "alert alert-success" : "alert alert-danger")">
        @responseMessage.Message
    </div>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}
<div class="container" id="container" style="height: 800px">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <EditForm Model="@khachHang" OnValidSubmit="HandleValidSubmit">
            <label for="chk" aria-hidden="true">ĐĂNG KÝ</label>
            <input type="text" name="TenKH" placeholder="Họ và Tên" @oninput="e => khachHang.TenKH = e.Value.ToString()" required="">
            <input type="email" name="Email" placeholder="Email" @oninput="e => khachHang.Email = e.Value.ToString()" required="">
            <input type="text" name="SDT" placeholder="Số điện thoại" @oninput="e => khachHang.SDT = e.Value.ToString()" required="">
            <input type="password" name="Password" placeholder="Mật khẩu" @oninput="e => khachHang.Password = e.Value.ToString()" required="">
            <input type="password" name="PasswordConfirm" placeholder="Nhập lại mật khẩu" @oninput="e => passwordConfirm = e.Value.ToString()" required="">
            <input type="date" name="NamSinh" placeholder="Ngày sinh" @oninput="e => khachHang.NamSinh = DateTime.Parse(e.Value.ToString())" required="">
            <button type="submit">Đăng ký</button>
        </EditForm>
    </div>

    <div class="login">
        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
            <label for="chk" aria-hidden="true">ĐĂNG NHẬP</label>
            <input type="text" name="Username" placeholder="Tài Khoản" @oninput="HandleInputUsername" required />
            <input type="password" name="Password" placeholder="Mật khẩu" @oninput="HandleInputPassword" required />
            <button type="submit">Đăng nhập</button>
        </EditForm>
    </div>
</div>
@code {
   
}
