@page "/"
@inject IJSRuntime JSRuntime
@using ASM_CS6_AHTBCinemaPro_SD18301.Models
@using Newtonsoft.Json
@inject HttpClient Http

@using System.Timers
@using System.Threading.Tasks
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
<!-- OWL CAROUSEL -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
<!-- BOX ICONS -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/grid.css">
<link rel="stylesheet" href="/css/index.css">
@code {
    private List<Phim> phims;
    private List<Phim> phimhot;
    private List<Phim> phimhoathinh;
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetStringAsync("api/Phim/phim");
        phims = JsonConvert.DeserializeObject<List<Phim>>(response);
        phimhot = JsonConvert.DeserializeObject<List<Phim>>(response);
        phimhoathinh = JsonConvert.DeserializeObject<List<Phim>>(response);
    
        phims = phims.Where(p => p.DanhMucPhim.Any(dm => dm.DanhMuc.TenDanhMuc == "Phim Mới")).ToList();
        phimhot = phimhot.Where(p => p.DanhMucPhim.Any(dm => dm.DanhMuc.TenDanhMuc == "Phim Hot")).ToList();
        phimhoathinh = phimhoathinh.Where(p => p.TheLoai == "LP8").ToList();

        await JSRuntime.InvokeVoidAsync("initOwlCarousel");
    }
}
<div class="row dodulieu">
    <div id="slide1">
        @if (phims == null)
        {
            <p><em style="color:yellow">Loading...</em></p>
        }
        else
        {
            var phimCount = 6;
            var displayedPhims = phims.Take(phimCount).ToList();

            @for (var i = 0; i < displayedPhims.Count; i++)
            {
                var phim = displayedPhims[i];
                <div class="item1" style="background-image: url('/Image/phim/@phim.HinhAnh');" data-index="@phim.IdPhim">
                    <div class="content1">
                        <p class="name1">@phim.TenPhim</p>
                        <div class="des1">@phim.DienVien</div>
                        <button class="btn btn-primary" her="/chitiet/@phim.IdPhim">Xem ngay!</button>
                    </div>
                </div>
            }
        }
    </div>
    <div class="buttons1">
        <button id="prev1" class="btn btn-light">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <button id="next1" class="btn btn-light">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>

<main class="container mt-5">
    @if (phims == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="section">
            <div class="container">
                <div class="section-header">
                    Phim Mới
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    @foreach (var phim in phims)
                    {
                        <a href="/chitiet/@phim.IdPhim" class="movie-item">
                            <img src="/Image/phim/@phim.HinhAnh" alt="@phim.TenPhim">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    @phim.TenPhim
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="bx bxs-star"></i>
                                        <span>9.5</span> <!-- You can update this to reflect actual rating -->
                                    </div>
                                    <div class="movie-info">
                                        <i class="bx bxs-time"></i>
                                        <span>@phim.ThoiLuong mins</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>HD</span> <!-- Update this as needed -->
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span> <!-- Update this as needed -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
    @if (phimhot == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="section">
            <div class="container">
                <div class="section-header">
                    Phim Hot
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    @foreach (var phim in phimhot)
                    {
                        <a href="/chitiet/@phim.IdPhim" class="movie-item">
                            <img src="/Image/phim/@phim.HinhAnh" alt="@phim.TenPhim">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    @phim.TenPhim
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="bx bxs-star"></i>
                                        <span>9.5</span> <!-- You can update this to reflect actual rating -->
                                    </div>
                                    <div class="movie-info">
                                        <i class="bx bxs-time"></i>
                                        <span>@phim.ThoiLuong mins</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>HD</span> <!-- Update this as needed -->
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span> <!-- Update this as needed -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
    @if (phimhoathinh == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="section">
            <div class="container">
                <div class="section-header">
                    Phim Hoạt Hình
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    @foreach (var phim in phimhoathinh)
                    {
                        <a href="/chitiet/@phim.IdPhim" class="movie-item">
                            <img src="/Image/phim/@phim.HinhAnh" alt="@phim.TenPhim">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    @phim.TenPhim
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="bx bxs-star"></i>
                                        <span>9.5</span> <!-- You can update this to reflect actual rating -->
                                    </div>
                                    <div class="movie-info">
                                        <i class="bx bxs-time"></i>
                                        <span>@phim.ThoiLuong mins</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>HD</span> <!-- Update this as needed -->
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span> <!-- Update this as needed -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</main>

<script src="js/js1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
